@charset "utf-8";

/* CSS PRINCIPAL DO SITE */

body{
    color: #333;
    padding: 20px 60px;
    font-family: 'Source Code Pro', monospace;
    text-align: justify;
}

.learning-area{
    text-align: center;
}

nav div {
    text-align: center;
}

.box{
    border-radius: 5px;
}

section{
    padding-top: 1px;
    padding-bottom: 1px;
}


footer{
    text-align: center;
}

#footer-position{
    position: fixed; 
    width: 100%; 
    bottom: 0;
    left: 0;
    height: 70px;
}
